body {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  padding: 2vh;
}
.main-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.main-title {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 중앙 정렬 */
  justify-content: center;
  text-align: center;
  height: 87vh;
}

.login-button {
  color: #375aff;
}

.account-link {
  align-items: center;
  margin-top: auto;
  padding: 0 0 3vh 0;
  height: 10vh;
}

.start-button {
  margin-top: auto;
}
