.transfer-possible-price-sentence {
  text-align: center;
  margin-top: 2vh;
}

.transfer-possible-price {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3vh;
}

.full-transfer-sentence {
  font-weight: bold;
  margin-bottom: 2vh;
}

.transfer-first-line {
}

.transfer-date {
}

.transfer-price {
  text-align: right;
}
.transfer-second-line {
  margin-bottom: 1vh;
}

.transfer-deposit {
  font-size: 0.9rem;
}

.transfer-deposit {
  text-align: right;
}
