.nav-item-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar-container {
  position: relative; /* 부모 요소를 relative로 설정 */
}

.nav-item-text {
  position: absolute; /* 절대 위치 설정 */
  left: 50%; /* 왼쪽 여백을 50%로 설정 */
  transform: translateX(
    -50%
  ); /* 왼쪽 여백의 50%만큼 왼쪽으로 이동하여 가운데 정렬 */
}
